
/*  This is a sample CSS file, feel free to change it. */

.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffeeee;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

h1 {
	font-family: verdana, sans-serif;
	color: #ccddee;
}