/*  Color scheme:

 brown: #643B0F;       dark
 dark-green: #2A2C05;  darker
 creme: #EFE0B9;       light
 yellow-orange: #E4B04A; bright
 orange-red: #B7521E;

 */

@import url(http://fonts.googleapis.com/css?family=Amatic+SC|Andika|Cutive|Lato:100,300,400,900);

/****
 BASIC ELEMENT STYLING
*****/
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #EFE0B9;
    font: 22px/34px Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    /* TODO: move this to only the landing page */
    background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url('../img/neighbors-table.jpg');
    height: 100%;
    background-size: cover;
    margin-bottom: 80px;
}

h1, h2, h3 {
    font-family: Cutive, Georgia, serif;
    color: #F3F3F3;
}
h1 { font-size: 2.3em; }
h2 { font-size: 1.69em; }
h3 { font-size: 1.2em; }

p {
    margin: 0 0 20px;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    font-family:  Cutive, Georgia, serif;
    font-size: 22px;
    color: #E4B04A;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #f3f3f3;
}
.navbar-default .navbar-nav>li>a {
    color: #E4B04A;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f3f3f3;
}

input {
    color: #333333;
}

/****
GLOBAL CLASSES
*****/
.center {
    text-align: center;
}

.huge-text {
    font-size: 5em;
    font-weight: bold;
}

.large-text {
    font-size: 1.6em;
    line-height: 1.6em;
}

.single-blog-list {
    padding: 1px 15px 5px;
}

/* Hover on the blog table in the admin */
.table-hover>tbody>tr:hover {
    background-color: #E4B04A;
}

.wrap {
    word-wrap:break-word;
}

/****
 PAGE TEMPLATE STYLING
*****/

#email{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/typewriter.jpg');
    background-size: cover;
    height: 100%;
    min-height: 100%;
}

#emailSubmit{
    width: 100%;
}

.subscriptionStatus{
    display: none;
    font: 15px arial, sans-serif;
}

#admin-dashboard {
    color: #FFFFFF;
    background-color: #E4B04A;
    min-height: 80vh;
    width: 100%;
}

#admin_middle {
    background: #2B2C2A;
    min-height: 80vh;
    height: 100%;
}

.summernote h1, .summernote h2, .summernote h3, .summernote h4, .summernote h5, .summernote h6,
.note-style h1, .note-style h2, .note-style h3, .note-style h4, .note-style h5, .note-style h6,
.note-editable h1, .note-editable h2, .note-editable h3, .note-editable h4, .note-editable h5, .note-editable h6,
.note-editor.note-frame .note-editing-area .note-editable {
    color: white;
    background-color: #2B2C2A;
}

#about-page, #vision-page, #blog-list, #blog-detail {
    background-color: rgba(100, 100, 100, .7);
    padding: 4px 30px 30px 30px;
    border-radius: 8px;
}

#footer {
    background-color: #2B2C2A;
    bottom: 0;
    color: #EFE0B9;
    height: 80px; /* sticky-footer fixed height */
    margin-top: 60px;
    padding: 15px;
    position: absolute;
    width: 100%;
}


